<html>
    <head>
       <title>Registration and Login</title>
    </head>
    <body>
        <div id='wrapper'>
            <div class='register' style="display:  inline-block;border:  3px solid;padding: 20px;">
                <h4>Register</h4>
                <form action='/users' method='POST'>
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <p>Name: <input type='text' name='user[name]'></p>
                    <p>Alias: <input type='text' name='user[alias]'></p>
                    <p>Email: <input type='text' name='user[email]'></p>
                    <p>Password: <input type='password' name='user[password]'></p>
                    <h5> *Password should be at least 8 characters </h5>
                    <p>Password Confirmation: <input type='password' name='user[password_confirmation]'></p>
                    <input type='submit' value='Register'>
                </form>
            </div>
            <div class='login' style="display:  inline-block;border:  3px solid;padding: 20px;">
                <h4>Login</h4>
                <form action='/sessions' method='post'>
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <p>Email: <input type='text' name='Email'></p>
                    <p>Password: <input type='password' name='Password'></p>
                    <input type='submit' value='Log In'>
                </form>
            </div>
        </div>
    </body>
</html>
