<html>
    <head>
       <title>Ideas</title>
    </head>
    <body>
        <a href="/bright_ideas">Bright Ideas</a>
        <p><a href="/users/<%= @idea.user.id %>"><%= @idea.user.alias %></a> says:</p>
        <p><%= @idea.content %></p>
        <br>
        <h3>People who liked this post:</h3>
        <table>
               <thead>
                   <tr>
                       <th>Alias</th>
                       <th>Name</th>
                   </tr>
               </thead>
               <tbody>
                   <% @unique_like.each do |i| %>
                   <tr>
                       <td><a href="/users/<%= i.user_id %>"><%= i.user.alias %></td>
                       <td><%= i.user.name %></td>
                   </tr>
                   <% end %>
               </tbody>
          </table>
    </body>
</html>
