<html>
    <head>
       <title>Users</title>
    </head>
    <body>
        <a href="/bright_ideas">Bright Ideas</a>
        <p>Name: <%= @user.name%></p>
        <p>Alias: <%= @user.alias %></p>
        <p>Email: <%= @user.email %></p>
        <br>
        <hr>
        <br>
            <p> Total Number of Posts: <%= @user.ideas.count %> </p>
            <p> Total Number of Likes: <%= @user.likes.count %> </p>
    </body>
</html>
